#-------------------------
# Composer
#-------------------------
vendor/
composer.lock

#-------------------------
# Variables
#-------------------------
.env

#-------------------------
# Cache
#-------------------------
var/cache/